<template>
  <div class="visits-page">
    <h1 class="page-title"> &nbsp;
      <small>
        <small>Nodes / <b>{{ node.name }}</b></small>
      </small>
    </h1>
    <b-row>
      <b-col lg="4">


        <Widget
            title="<h5><span class='fw-semi-bold'>Basic Info</span></h5>"
            customHeader
        >
          <br>
          <br>

          <p>Hostname: <span style="color: white">{{ node.hostname }}</span></p>
          <p>Public IP: <span style="color: white">{{ node.ip }}</span></p>
          <p>RAM used ( kila ): <span style="color: white">{{ kila.mem.Alloc }} MB</span></p>
          <p>RAM used ( host ): <span style="color: white">{{ host.mem.used / 1000000 }} MB</span></p>
          <p>RAM available ( host ): <span style="color: white">{{ host.mem.available / 1000000 }} MB</span></p>


        </Widget>


      </b-col>
      <b-col lg="8">


        <Widget
            title="<h5><span class='fw-semi-bold'>MultiAdresses </span></h5>"
            customHeader
        >
          <br>
          <pre style="text-align: center">
           <code>
              <p v-for="n in node.ma">{{ n }}</p>
           </code>
          </pre>
        </Widget>


      </b-col>
    </b-row>
    <b-row>
      <b-col lg="12">



      </b-col>
    </b-row>

    <b-row>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';


export default {
  name: 'Settings',
  components: {
    Widget,
  },
  data() {
    return {
      node: {
        ma: [],
        name: "",
        hostname: "",
        cpu: {},
        mem: {},
        ip: {},
      },
      kila: {
        mem: {}
      },
      host: {
        mem: {}
      },
      latencies: {},
      hostname: "",
    };
  },
  watch: {
    $route() {
      this.load()
    }
  },
  methods: {
    load() {
      this.node.name = this.$route.params.node
      var s = this
      window.p2p.adminRPC(this.node.name, "hostname", "", function (data) {
        s.node.hostname = data
      })
      window.p2p.adminRPC(this.node.name, "public_ip", "", function (data) {
        s.node.ip = data
      })
      window.p2p.adminRPC(this.node.name, "kila_mem_stats", "", function (data) {
        s.kila.mem = JSON.parse(data)
      })
      window.p2p.adminRPC(this.node.name, "host_mem_stats", "", function (data) {
        s.host.mem = JSON.parse(data)
      })
      window.p2p.adminRPC(this.node.name, "network_ma", "", function (data) {
        s.node.ma = JSON.parse(data).sort()
      })
    }

  },
  mounted() {
    this.load()
  },
  timers: {
    load: {time: 1000, autostart: true, repeat: true}
  },
};
</script>

<style src="./Node.scss" lang="scss"/>
