<template></template>
<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';
import { createNamespacedHelpers } from 'vuex'
import Libp2p from 'libp2p'
import Websockets from 'libp2p-websockets'
import { NOISE } from 'libp2p-noise'
import Mplex from 'libp2p-mplex'
const filters = require('libp2p-websockets/src/filters')
const PeerId = require('peer-id')
const { mapState, mapActions } = createNamespacedHelpers('libp2p')
const Gossipsub = require('libp2p-gossipsub')
const multiaddr = require('multiaddr')
const pipe = require('it-pipe')
const pull = require('pull-stream')
const pushable = require('it-pushable')

export default {
  name: 'Test',
  components: {
    Widget,
  },
  data() {
    return {
      adminStreams: [],
      streamMap: {},
      callbacks: {},
      subscallback: {},
    };
  },
  methods: {
    async updateNodes(){
      var self = this
      this.nodes.forEach(function (node){
        if ( window.p2p.nodes === undefined) {
          window.p2p.nodes = []
        }
        if (window.p2p.nodes.includes(node.name) === false) {
          window.p2p.nodes.push(node.name)
          var ma = new multiaddr(node.address)
          var a =  PeerId.createFromB58String(ma.getPeerId())
          window.p2p.peerStore.addressBook.add(a,[ma])
          if (self.adminStreams.includes(node.address) === false )  {
            self.dialAdmin(node.address,node.name)
          }
        }
      })
    },
    async dialAdmin(address,name) {
      this.adminStreams.push(address)
      const { stream } = await window.p2p.dialProtocol(address, '/kilavo/admin/0.0.1')
      var p = pushable()
      pipe(p,stream)
      this.streamMap[name] = p
      for await (const data of stream.source) {
        var msgs = new TextDecoder().decode(data._bufs[0]);
        var msg = JSON.parse(msgs)
        if (msg.ID !== undefined) {
          this.callbacks[msg.ID](msg.Data)
        }
        if (msg.Topic !== undefined){
          for (let key in this.subscallback) {
            if ( key === msg.Topic) {
              for (let cf in this.subscallback[key]){
                var f = this.subscallback[key][cf]
                f(name,msg.Topic,msg.Data)
              }
            }
          }
        }
      }
    },
    sendRPC(node, method, args,callback){
      var p = this.streamMap[node]
      var id = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
      var request = {
        id: id,
        req: method,
        args: args
      }
      var data = JSON.stringify(request) + "\n"
      this.callbacks[id] = callback
      if ( p != undefined ){
        p.push(data)
      }
    },
    adminSub(node,topic,callback){
      console.log("subsss",callback)
      this.sendRPC(node,"subscribe",topic)
      if (this.subscallback[topic] === undefined) {
          this.subscallback[topic] = []
      }
      this.subscallback[topic].push(callback)
    },
    async connect(){
      const transportKey = Websockets.prototype[Symbol.toStringTag]
      var pid = {}
      if (this.identity.length <= 10 ) {
        pid = await PeerId.create({ bits: 2048, keyType: 'RSA'})
        this.$store.dispatch("libp2p/save",pid.toJSON())
      } else {
        pid = await PeerId.createFromJSON(this.identity)
      }

      const libp2p = await Libp2p.create({
        addresses: {
          "Swarm": [
          ],
        },
        peerId: pid,
        modules: {
          transport: [Websockets],
          connEncryption: [NOISE],
          streamMuxer: [Mplex],
          pubsub: Gossipsub,
        },
        config: {
          pubsub: {
            enabled: true
          },
          transport: {
            [transportKey]: { // Transport properties -- Libp2p upgrader is automatically added
              filter: filters.all
            }
          }
        }
      })

      await libp2p.start()
      await libp2p.connectionManager.start()
      window.p2p = libp2p
      window.p2p.nodes = []
      window.p2p.adminRPC = this.sendRPC
      window.p2p.adminSub = this.adminSub
      this.$store.dispatch("libp2p/setCid",window.p2p.peerId.toB58String())
      this.updateNodes()
    },
  },
  timers: {
    updateNodes: { time: 500, autostart: true, repeat: true }
  },
  computed: {
    ...mapState(["identity"]),
    nodes(){
      return this.$store.state.nodes.nodes
    }
  },
  mounted() {
    this.connect()
  },
};
</script>
