<template>
  <div class="visits-page">
    <h1 class="page-title"> &nbsp;
      <small>
        <small>Settings</small>
      </small>
    </h1>
    <b-row>
      <b-col lg="9">


        <Widget  v-if="nodes.length>=1"
            title="<h5><span class='fw-semi-bold'>Nodes</span></h5>"
            customHeader
        >
          <p>Listing all known Nodes</p>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Address</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>


                <tr v-for="n in nodes" :key="n.address">
                  <td>{{ n.address }}</td>
                  <td>{{ n.name }}</td>
                  <td>
                    <b-button variant="danger" v-on:click="removeNode(n.address)">Remove</b-button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

        </Widget>


        <Widget
            title="<h5>Add Node <span class='fw-semi-bold'></span></h5>"
            customHeader
        >


          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="addNodeData.name" placeholder="Name" class="form-control">
          </div>
          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="addNodeData.address" placeholder="Address" class="form-control" >
          </div>
          <br><br>

          <div style="margin:5px;">
            <b-button variant="success" v-on:click="addNode()">Add Node</b-button>
          </div>


        </Widget>

        <Widget
            title="<h5>Your <span class='fw-semi-bold'>Peer Id</span></h5>"
            customHeader
        >

          <div class="peerid">
            {{ cid }}
          </div>


        </Widget>


      </b-col>
    </b-row>
    <b-row>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';
import { createNamespacedHelpers } from 'vuex'
const multiaddr = require('multiaddr')
const { mapState, mapActions } = createNamespacedHelpers('nodes')
const PeerId = require('peer-id')

export default {
  name: 'Settings',
  components: {
    Widget,
  },
  data() {
    return {
      addNodeData: {
        name: "",
        address: "",
      },
      animateNumberOptions: {
        duration: 0,
        easing: 'easeInQuad',
      },
      checkedArr: [false, false, false],
      dataCollection: null,
    };
  },
  methods: {
    addNode(){
      this.$store.dispatch("nodes/addNode",this.addNodeData)
    },
    clear(){
      this.$store.dispatch("nodes/clear","")
    },
    removeNode(id){
      window.p2p.addresses.Swarm.pop(id);
      this.$store.dispatch("nodes/removeNode",id)

    },
  },
  computed: {
    ...mapState({
      nodes: state => state.nodes,
    }),
    cid(){
      return this.$store.state.libp2p.cid
    }
  },
  mounted() {
  },
};
</script>

<style src="./Settings.scss" lang="scss"/>
