@import '../../styles/app';

.settings-page {
  .post-comments footer {
    margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
    padding: $widget-padding-vertical $widget-padding-horizontal;
  }

  .stat-item .name {
    margin-top: 10px;
  }

  .table {
    .table.table-sm {
      td {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }

  .market-stats {
    .abc-checkbox label {
      &::before {
        background-color: transparent;
      }
      &::after {
        color: #eee;
      }
    }
  }
}


.tables-basic {
  .table th {
    font-size: $font-size-sm;
  }

  .abc-checkbox label {
    &::before {
      background-color: transparent;
    }
    &::after {
      color: #eee;
    }
  }
}


.peerid {
margin: 50px;
text-align: center;
color: white;
opacity: 1;
}
