<template>
  <div class="visits-page">
    <h1 class="page-title">Dashboard &nbsp;
      <small>
        <small>MyNode</small>
      </small>
    </h1>
    <b-row>
      <b-col lg="7">
        <Widget
            title="NODE DETAILS"
        >

        </Widget>
      </b-col>
      <b-col lg="4" offset-lg="1">
        <Widget
          class="bg-transparent"
          title="<h5>Node<span class='fw-semi-bold'>&nbsp;Statistics</span></h5>" customHeader
        >
          <p>Status: <strong>HEALTHY</strong></p>
          <br>
          <p>
            <span class="circle bg-primary text-white"><i class="fa fa-empire" /></span> &nbsp;
            Uptime: 127h
          </p>
          <br>
          <div class="row progress-stats">
            <div class="col-9">
              <h6 class="name">Federation Peers</h6>
              <b-progress variant="primary" :value="100" :max="100" class="progress-xs" />
            </div>
            <div class="col-3 text-center">
              <span class="status rounded rounded-lg bg-widget mt-lg-0 mt-4">
                <span><AnimatedNumber :value="100" v-bind="animateNumberOptions"></AnimatedNumber>%</span>
              </span>
            </div>
          </div>

          <br>
          <div class="row progress-stats">
            <div class="col-9">
              <h6 class="name">Storage Shards healthy</h6>
              <b-progress variant="primary" :value="100" :max="100" class="progress-xs" />
            </div>
            <div class="col-3 text-center">
              <span class="status rounded rounded-lg bg-widget mt-lg-0 mt-4">
                <span><AnimatedNumber :value="100" v-bind="animateNumberOptions"></AnimatedNumber>%</span>
              </span>
            </div>
          </div>


          <br>
          <div class="row progress-stats">
            <div class="col-9">
              <h6 class="name">Uptime last 7 days</h6>
              <b-progress variant="primary" :value="100" :max="100" class="progress-xs" />
            </div>
            <div class="col-3 text-center">
              <span class="status rounded rounded-lg bg-widget mt-lg-0 mt-4">
                <span><AnimatedNumber :value="100" v-bind="animateNumberOptions"></AnimatedNumber>%</span>
              </span>
            </div>
          </div>


        </Widget>
      </b-col>
    </b-row>
    <b-row>
      <b-col xl="4" xs="12">

      </b-col>

    </b-row>
    <b-row>
    </b-row>
  </div>
</template>

<script>
import Vue from 'vue';
import Widget from '@/components/Widget/Widget';
import Map from './components/Map/Map';
import Calendar from './components/Calendar/Calendar';
import AreaChart from './components/AreaChart/AreaChart';
import AnimatedNumber from "animated-number-vue";

export default {
  name: 'Visits',
  components: {
    Widget, Map, Calendar, AreaChart, AnimatedNumber
  },
  data() {
    return {
      animateNumberOptions: {
        duration: 0,
        easing: 'easeInQuad',
        formatValue(value) {
          return value.toFixed(0);
        }
      },
      checkedArr: [false, false, false],
      dataCollection: null,
    };
  },
  methods: {
    checkTable(id) {
      let arr = [];
      if (id === 0) {
        const val = !this.checkedArr[0];
        for (let i = 0; i < this.checkedArr.length; i += 1) {
          arr[i] = val;
        }
      } else {
        arr = this.checkedArr;
        arr[id] = !arr[id];
      }
      if (arr[0]) {
        let count = 1;
        for (let i = 1; i < arr.length; i += 1) {
          if (arr[i]) {
            count += 1;
          }
        }
        if (count !== arr.length) {
          arr[0] = !arr[0];
        }
      }
      Vue.set(this, 'checkedArr', arr);
    },
    fillData () {
      this.dataCollection = {
        labels: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: '#1870DC',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
          }, {
            label: 'Data Two',
            backgroundColor: '#F45722',
            borderColor: 'transparent',
            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
          }
        ]
      }
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    }
  },
  mounted () {
    this.fillData();
  },
};
</script>

<style src="./Visits.scss" lang="scss" />
