<template>
  <b-collapse class="sidebar-collapse" id="sidebar-collapse" :visible="sidebarOpened">
  <nav
    :class="{sidebar: true}"
  >
    <header class="logo">
      <router-link to="/app">Kilavo ADMIN UI</router-link>
    </header>
    <ul class="nav">
      <h5 class="navTitle" v-if="nodes.length>=1">NODES</h5>
      <NavLink v-for="n in nodes"
        :activeItem="activeItem"
        :header="n"
        :link="'/app/node/' + n"
        iconName="fa fa-home"
        :index="n"
        isHeader
      />
      <h5 class="navTitle">Federations</h5>
      <NavLink v-for="n in federations"
               :activeItem="activeItem"
               :header="n"
               :link="'/app/federation/' + n"
               iconName="fa fa-university"
               :index="n"
               isHeader
      />
      <NavLink
          :activeItem="activeItem"
          header="Create"
          link="/app/federation/add"
          iconName="fa fa-university"
          index="settings"
          isHeader
      />
      <h5 class="navTitle">Settings</h5>
      <NavLink
          :activeItem="activeItem"
          header="Settings"
          link="/app/settings"
          iconName="fa fa-sliders"
          index="settings"
          isHeader
      />
      <NavLink
          :activeItem="activeItem"
          header="Admin Dev"
          link="/app/test"
          iconName="fa fa-sliders"
          index="Test"
          isHeader
      />
    </ul>

  </nav>
  </b-collapse>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import NavLink from './NavLink/NavLink';

export default {
  name: 'Sidebar',
  components: { NavLink },
  data() {
    return {
      nodes: [],
      federations: [],
      alerts: [
        {
          id: 0,
          title: 'Sales Report',
          value: 15,
          footer: 'Calculating x-axis bias... 65%',
          color: 'primary',
        },
        {
          id: 1,
          title: 'Personal Responsibility',
          value: 20,
          footer: 'Provide required notes',
          color: 'danger',
        },
      ],
    };
  },
  methods: {
    ...mapActions('layout', ['changeSidebarActive', 'switchSidebar']),
    setActiveByRoute() {
      const paths = this.$route.fullPath.split('/');
      paths.pop();
      this.changeSidebarActive(paths.join('/'));
    },
    updateBasics(){
      var feds = this.federations
      if (window.p2p.nodes !== undefined){
        for (let n in window.p2p.nodes) {
          if (this.nodes.includes(window.p2p.nodes[n]) === false) {
            console.log(window.p2p.nodes[n], "NODES")
            this.nodes.push(window.p2p.nodes[n])
          }

          var node = window.p2p.nodes[n]
          window.p2p.adminRPC(node, "federations","{}",function (data){
            data = JSON.parse(data)
            for (let f in data) {
              if (feds.includes(data[f]) === false) {
                feds.push(data[f])
                this.federations = feds
              }
            }
          })


        }
      }
      this.federations = feds
    },
  },
  created() {
    this.setActiveByRoute();
  },
  computed: {
    ...mapState('layout', {
      sidebarOpened: state => !state.sidebarClose,
      activeItem: state => state.sidebarActiveElement,
    }),
  },
  mounted(){

  },
  timers: {
    updateBasics: { time: 1500, autostart: true, repeat: true }
  },
};
</script>

<!-- Sidebar styles should be scoped -->
<style src="./Sidebar.scss" lang="scss" scoped/>
