<template>
  <div class="visits-page">
    <h1 class="page-title"> &nbsp;
      <small>
        <small>Federation / <b>{{ fed.name }}</b></small>
      </small>
    </h1>
    <b-row>
      <b-col lg="6">

        <Widget
            title="<h5>Your <span class='fw-semi-bold'>Nodes</span></h5>"
            customHeader
        >
          <p>Your Nodes in this Federation</p>
          <br>
          <table style="width: 100%">
            <tr>
              <th>Name</th>
              <th style="padding-left: 15px;">Address</th>
            </tr>
            <tr v-for="n in fed.adminNodes">
              <td>{{ n.name }}</td>
              <td style="padding-left: 15px;">{{ n.address }}</td>
            </tr>
          </table>

        </Widget>

      </b-col>


      <b-col lg="4">
        <Widget
            title="<h5>Federation <span class='fw-semi-bold'>Settings</span></h5>"
            customHeader
        >
          <p>Details about Federation</p>
          <br>
          <table style="width: 100%">
            <tr>
              <td>DownStream of: </td>
              <td>Nobody</td>
            </tr>
            <tr>
              <td>Replication Factor: </td>
              <td>2</td>
            </tr>
            <tr>
              <td>DB Entries: </td>
              <td>21890819</td>
            </tr>
          </table>

        </Widget>
      </b-col>



    </b-row>

    <b-row>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';


export default {
  name: 'Settings',
  components: {
    Widget,
  },
  data() {
    return {
      fed: {
        name: "",
        adminNodes: [], // nodes we have admin rights on
      },
      latencies: {},
      hostname: "",
    };
  },
  methods: {
    clear(){
      this.fed.adminNodes = []
    },
    load() {
      if ( window.p2p === undefined) {
        return
      }
      this.fed.name = this.$route.params.fed
      var s = this
      for (let n in this.nodes){
        var node = this.nodes[n].name
        window.p2p.adminRPC(node, "federations", "", function (data) {
          var n_feds = JSON.parse(data)
          for ( let nf in n_feds) {
            var n_fed = n_feds[nf]
            if (n_fed === s.fed.name) {
              console.log(node,"YY")
              if (s.fed.adminNodes.includes(s.nodes[n]) === false) {
                s.fed.adminNodes.push(s.nodes[n])
              }
            }
          }
        })
      }
     }

  },
  watch: {
    $route() {
      this.clear()
      this.load()
    }
  },
  computed: {
    nodes(){
      return this.$store.state.nodes.nodes
    }
  },
  mounted() {
    this.load()
  },
  timers: {
    load: {time: 1500, autostart: true, repeat: true}
  },
};
</script>

<style src="./Federation.scss" lang="scss"/>
