<template>
  <div class="visits-page">
    <h1 class="page-title"> &nbsp;
      <small>
        <small>POC Testing Playground</small>
      </small>
    </h1>
    <b-row>
      <b-col lg="9">


        <Widget
            title="<h5><span class='fw-semi-bold'>ADMIN</span>RPC</h5>"
            customHeader
        >


          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="adminRPC.node" placeholder="Name" class="form-control">
          </div>
          <p>Node name</p>
          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="adminRPC.method" placeholder="Name" class="form-control">
          </div>

          <p>Method</p>
          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="adminRPC.args" placeholder="Name" class="form-control">
          </div>
          <p>Arguments string</p>
          <br><br>
          <div>
            <button v-on:click="sendRPC">SEND</button>
          </div>
          <br><br>
          <div>
            <pre>
              <code>{{adminRPC.response}}</code>
            </pre>
          </div>


        </Widget>

        <Widget
            title="<h5><span class='fw-semi-bold'>ADMIN</span>Events</h5>"
            customHeader
        >

          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="subnode" placeholder="Name" class="form-control">
          </div>
          <p>Node to subscribe to</p>
          <div role="group" class="input-group mt formadd">
            <input type="text" v-model="subtopic" placeholder="Name" class="form-control">
          </div>
          <p>Topic to subscribe to</p>
          <button v-on:click="subscribe">Subscribe</button>

          <br>
          <div>
            <pre>
              <code>{{eventlogs}}</code>
            </pre>
          </div>


        </Widget>


      </b-col>
    </b-row>
    <b-row>
    </b-row>
  </div>
</template>

<script>
/* eslint-disable */
import Widget from '@/components/Widget/Widget';
import { createNamespacedHelpers } from 'vuex'
const filters = require('libp2p-websockets/src/filters')

const { mapState, mapActions } = createNamespacedHelpers('nodes')

export default {
  name: 'Test',
  components: {
    Widget,
  },
  data() {
    return {
      adminRPC: {
        node: "node1",
        method: "time",
        args: "{}",
        response: "{ response }"
      },
      eventlogs : "",
      subnode: "node1",
      subtopic: "topic"
    };
  },
  methods: {
    sendRPC(){
      var self = this
      window.p2p.adminRPC(this.adminRPC.node,this.adminRPC.method,this.adminRPC.args,function (data){
        self.adminRPC.response = data
        console.log(data)
      })
    },
    updateEventLog(node,topic,data){
      this.eventlogs =
          "[" + node + "] (" + topic + ") - " + data + "\n" + this.eventlogs
    },
    subscribe(){
      window.p2p.adminSub(this.subnode,this.subtopic,this.updateEventLog)
    }

  },
  mounted() {

  },
};
</script>

<style src="./Test.scss" lang="scss"/>
